<% provide(:title, "About") %>
<div class="container">
  <div class="row mb-4">
    <h1>このサイトについて</h1>
  </div>
  <div class="row">
    <p>このサイトはプログラミング未経験者である当サイト製作者が、プログラミングを独学しながら作ってみたポートフォリオ作品です。</p>
    <p>正式なサービスとしては運用されていませんのでご了承ください。</p>
  </div>
</div>