<% provide(:title, "Help") %>
<h1>使い方で困ったときに</h1>
<p>お困りでしょうか。下記の項目からお困りの内容を選んでください</p>
<div class="faq">
  <ul id="faq-list">
    <li class="faq-list-item">
      <h3 class="question">ユーザー登録・ログインをしなければトピ作成やコメント機能が使えないのはなぜですか？</h3>
      <span>+</span>
      <div class="answer">
        <p>ユーザーの皆さんにもっと安全に便利に掲示板サービスをご利用いただくためです。ユーザー登録をすることによって、トピックをブックマークしたりユーザー間でダイレクトメッセージを送れるようになります</p>
      </div>
    </li>
    <li class="faq-list-item">
      <h3 class="question">ユーザー登録する際に個人情報の登録は必要ですか？</h3>
      <span>+</span>
      <div class="answer">
        <p>いいえ、ユーザー登録の際に必要なのはアカウントを有効化する際に必要なEメールアドレスに加えて、ご自身でお選びいただくユーザーネーム、ログイン時に本人確認するためのパスワードのみです。本名等を登録いただく必要はございません。</p>
      </div>
    </li>
    <li class="faq-list-item">
      <h3 class="question">掲示板で使いにくい機能・追加してほしい機能があった場合はどのようにリクエストしたらいいですか？</h3>
      <span>+</span>
      <div class="answer">
        <p>改善リクエスト掲示板にてリクエストいただければ、ASAPでサイト管理者がレビュー・対応させていただきます。</p>
      </div>
    </li>
  </ul>
</div>