<% comments.each do |comment| %>
  <div class="comment">
    <p class="" style="background:#dcdcdc;"><%= link_to comment.user.name, user_path(comment.user.id) %><small> ・ <%= time_ago_in_words comment.created_at %> ago
    <% if current_user?(comment.user) %>
      <%= link_to "削除", comment, class:"ml-4", method: :delete,
                                       data: { confirm: "削除されると元に戻せませんがよろしいですか？" } %>
    <% end %>
    </small></p>
    <%= simple_format comment.message %>
    
  </div>
<% end %>