<% if logged_in? %>
<div class="float-right">
  <%= link_to "新しいコミュニティを作る", new_community_path, class: "btn btn-outline-primary mr-3" %>
</div>
<% end %>

<div class="container">
  <div class="row pl-2 pb-2">
  <h3>コミュニティ一覧</h3>
  </div>
</div>
<div class="container">
<% if @communities.size > 0 %>
    <% @communities.each do |community| %>
      <div class="card pt-2 pl-3">
        <h4><%= link_to community.name, community %></h4>
        <%= simple_format community.summary %>
      </div>
    <% end %>
  <% else %>
  <p>No communities to display</p>
  <% end %>
  </div>